
.progressContainer{
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.progressText{
    right: 10px;
    position: fixed;
}

.progress{
    background-color: mediumspringgreen;
    height: 100%;
}

.collect{
    height: 100%;
    width: 100%;
}

.header{
    margin-top: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




.footer{
    height: 10%;
    width: 99%;
    margin-right: 5px;
    margin-left: 5px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        font-weight: bold;
        font-size: 1.3rem;
    }
}


.thumbs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 60%;
    margin: auto;
}

.thumb{
    width: 300px;
    img{
        width: 100%;
    }
}

.sampleThumb{
    composes: thumb;
    img{
        max-width: 100px;
    }

}

.scanThumb{
    composes: thumb;
}