

.button{

    padding: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;
    box-sizing: border-box;
    outline: none;
    font-family: "Space Mono", sans-serif;
    font-size: inherit;
    background-color: transparent;


    &:hover{
        border-color: mediumspringgreen;
        color: mediumspringgreen;
    }

    text-transform: uppercase;
}

.fill{
    width: 100%;
    height: 100%;
}

.noborder{
    composes: button;
    border: none;
}


.disabled{
    composes: button;
    border-color: rgb(125, 125, 125);
    color: rgb(125, 125, 125);
    cursor: initial;

    &:hover{
        border-color: rgb(125, 125, 125);
        color: rgb(125, 125, 125);
        cursor: initial;
    }

}