



.container{
    display: flex;
    height: 100%;
    flex-flow: column wrap;
}

.thumbnailContainers{
    height: 90%;
    width: 100%;
}

.thumbnailsContainer{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    overflow-x: scroll;

}


.thumbnails{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail{
    height: 200px;
    margin-right: 3px;
    img{
        height: 100%;
    }
}

.footer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    button{
        font-weight: bold;
        font-size: 1.3rem;
    }
}