

.header{
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    margin-top: 50px;
}

.output{

}

.glyphsContainer{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.glyphs{
    display: flex;
    overflow-x: scroll;
    height: 100px;
}

.glyphThumbContainer{
    height: 100%;
    img{
        height: 100%;
    }
}

.result{
    height: 400px;
    margin-right: 100px;
    img{
        height: 100%;
    }
}

.results{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.footer{
    height: 10%;
    width: 99%;
    margin-right: 5px;
    margin-left: 5px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}